<!--
<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Itix LocaVeiculos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>


          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/categoria"]'>Categoria</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/entrar"]'>Entrar</a>
          </li>

          <li class="nav-item dropdown" *ngIf="usuarioLogado()">
            <a class="nav-link text-dark dropdown-toggle" role="button" aria-haspopup="true" href="#"
               aria-expanded="false" id="linkMenu" data-toggle="dropdown">{{ usuario.nome }}</a>
            <ul class="dropdown-menu" aria-labelledby="linkMenu">
              <li class="dropdown-item" role="menu" [routerLink]='["/sair"]' (click)="sair()">Sair</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->

<header id="header">
  <!--id="home"-->
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a [routerLink]='["/"]'><img src="../../assets/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children" *ngIf="usuarioLogado()">
            <a href="#">Cadastro</a>
            <ul>
              <li><a href="{{ baseUrl }}categoria">Categoria</a></li>
              <li><a href="{{ baseUrl }}carro">Carro</a></li>
            </ul>
          </li>
          <li><a href="{{ baseUrl }}app-home" *ngIf="usuarioLogado()">Alugue aqui</a></li>
          <!--<li *ngIf="!usuarioLogado()"><a [routerLink]='["/entrar"]'>Entrar</a></li>-->
          <!--<li class="menu-active" *ngIf="!usuarioLogado()"><a [routerLink]='["/"]'>Entrar</a></li>-->
          <li class="menu-has-children" *ngIf="usuarioLogado()">
            <a href="#">{{ usuario.nome }}</a>
            <ul>
              <li><a [routerLink]='["/sair"]' (click)="sair()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->
