<section class="banner-area relative" id="home" *ngIf="!_usuarioAutenticado;">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="col-lg-5  col-md-6 header-right">
        <h4 class="text-white pb-30 text-center">Cadastrar Categoria</h4>

        <form class="form" role="form" id="formulario" autocomplete="off">
          <div class="form-group">
            <div class="" id="">
              <label for="nomeCategoria" class="sr-only">Nome Categoria</label>
              <input type="text"
                     id="nomeCategoria"
                     name="nomeCategoria"
                     placeholder="Nome da Categoria"
                     class="form-control mb-2"
                     [(ngModel)]="categoria.nomeCategoria"
                     #nomeCategoria="ngModel"
                     [ngClass]="{
                     'is-invalid':nomeCategoria.invalid && (nomeCategoria.dirty || nomeCategoria.touched),
                     'is-valid':nomeCategoria.valid && (nomeCategoria.dirty || nomeCategoria.touched)
                     }"
                     required />
              <div class="invalid-feedback mb-2" *ngIf="nomeCategoria.invalid && (nomeCategoria.dirty || nomeCategoria.touched)">
                <div *ngIf="nomeCategoria.errors.required">
                  Nome da Categoria é de preenchimento obrigatório!
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="precoBaseDiaria" class="sr-only">Preço</label>
            <input type="number" id="precoBaseDiaria"
                   name="precoBaseDiaria"
                   placeholder="Preço Base da Diária"
                   class="form-control mb-2"
                   [ngClass]="{
                   'is-invalid':precoBaseDiaria.invalid && (precoBaseDiaria.dirty || precoBaseDiaria.touched),
                   'is-valid':precoBaseDiaria.valid && (precoBaseDiaria.dirty || precoBaseDiaria.touched)
                   }"
                   [(ngModel)]="categoria.precoBaseDiaria"
                   #precoBaseDiaria="ngModel"
                   required />
            <div class="invalid-feedback mb-2" *ngIf="precoBaseDiaria.invalid && (precoBaseDiaria.dirty || precoBaseDiaria.touched)">
              <div *ngIf="precoBaseDiaria.errors.required">
                Preço Base é de preenchimento obrigatório!
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button class="btn btn-default btn-lg btn-block text-center text-uppercase mb-2" type="submit" (click)="cadastrar()" [disabled]="ativar_spinner">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
                Cadastrar
              </button>
              <div class="alert alert-danger text-center" *ngIf="mensagem">
                {{ mensagem }}
              </div>
              <div class="alert alert-success text-center" *ngIf="categoriaCadastrada">
                Categoria Cadastrada com sucesso!
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="banner-area relative" id="home" *ngIf="!_usuarioAutenticado;">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="col-lg-12  col-md-12 header-right">
        <h4 class="text-white pb-30 text-center">Pesquisar Carros</h4>

        <table class="table" style="color: white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Primeiro</th>
              <th scope="col">Último</th>
              <th scope="col">Nickname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</section>
